.page-header{
    background-color: chocolate;
    color:white;
    margin:0px;
    padding:5px 10px 5px 10px;
}


.container{
    display: flex;
}

.section{
    border:1px solid grey;
    background-color: cornsilk;
    margin:10px;
    width:50%;

    -webkit-transition:background-color 5s;
}

.section:hover{
    background-color: darkkhaki;
}


.card{
    display: grid;
    justify-content: center;
}

.login-header{
    color:darkblue;
    padding:5px 10px 5px 10px;
    margin:0px;
}

.card-body input[type="email"], .card-body input[type="password"]{
    font:normal 16px 'calibri';
    margin:5px 10px 10px 10px;
}

.form-label{
    font:bold 10px 'arial';
    margin:0px 10px 0px 10px;
}

.btn{
    background-color: chocolate;
    color:white;
    padding:5px;
    width:100px;
    box-shadow: 2px 2px 2px grey;
    margin-bottom: 10px;
    float:right;
}

.btn:hover{
    cursor: pointer;
    box-shadow: 3px 3px 3px darkgrey;
}

.table{
    width:100%;
}

.align-right{
    text-align: right;
}